@model IEnumerable<WorkTaskTableVM>
@{
    ViewData["Title"] = "Главная";
}

<div style="margin-top:90px">
    <h1>Welcome @ViewData["UserDisplayName"] to the TaskManager MinimalApp</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="table-responsive-sm">
    <div class="justify-content-around float-end">
        @* <a asp-controller="Book" asp-action="CreateBook" class="btn btn-primary">Добавить книгу</a> *@
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Author</th>
                <th scope="col">Created</th>
                <th scope="col">Closed</th>
                <th scope="col">WorkHours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-controller="Task" asp-action="Task" asp-route-id="@item.Id">@item.Title</a></td>
                    <td>@item.Status</td>
                    <td>@item.Author</td>
                    <td>@item.CreatedDateTimeUTC</td>
                    <td>@item.ClosedDateTimeUTC</td>
                    <td>@item.FactedTimeSpan</td>
                </tr>
            }
        </tbody>
    </table>
</div>
