@model WorkTaskGetVM

<div class="row" style="margin-top:90px">
    <div class="col-sm-12 col-md-6">
        <h1 style="margin-bottom:50px;">@Model.Title</h1>
        <h5>Author:</h5>
        <p>@Model.Author</p>
        <h5>Status:</h5>
        <p>@Model.Status.Name</p>
        <h5>Created date:</h5>
        <p>@Model.CreatedDateTime</p>
        <h5>Closed date:</h5>
        <p>@Model.ClosedDateTime</p>
        <h5>Planned date:</h5>
        <p>@Model.PlannedDateTime</p>
        <h5>Facted work hours:</h5>
        <p>@Model.FactedTimeSpan</p>
        <h5>Description:</h5>
        <p>@Model.Description</p>
        @if (User?.Identity?.Name == Model.Author)
        {
            <div style="display: flex; flex-direction: row">
                <button style="margin-right:20px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal"
                    hx-get="/task/update/@Model.Id" hx-swap="innerHTML" hx-target="#update-task-content">Update
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
        }
    </div>
    <div class="col-sm-12 col-md-6">
        <h1 style="margin-bottom:50px;">Comments</h1>
        @if ((ViewData["Comments"] as IEnumerable<WorkTaskCommentGetVM>).Any())
        {
            @foreach (var com in ViewData["Comments"] as IEnumerable<WorkTaskCommentGetVM>)
            {
                <div style="margin-bottom:50px;">
                    <div class="comment-card">
                        <div style="margin-right:24px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                        </div>
                        <div>
                            <h5>@com.UserName</h5>
                            <p style="margin-bottom:0px;">@com.CreatedDateTime</p>
                        </div>
                    </div>
                    <div style="margin-top:7px;">
                        <p>@com.Content</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>The task doesn't have any comments. Do you want to be first?</p>
        }
        <button style="margin-top:20px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCommentModal"
                hx-get="/task/comment/@Model.Id" hx-swap="innerHTML" hx-target="#add-comment">
            Add comment
        </button>
    </div>
</div>


<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="update-task-content" class="modal-body">
            </div>
            <div class="modal-footer">
                <button asp-controller="task" asp-action="update"
                        type="submit" form="update-task-form" class="btn btn-primary">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete task</h1>
                <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="create-task-content" class="modal-body">
                <p>Are you sure that you want to delete the task?</p>
            </div>
            <div class="modal-footer">
                <a asp-controller="task" asp-action="delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Add comment Modal -->
<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add comment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="add-comment" class="modal-body">
            </div>
            <div class="modal-footer">
                <button asp-controller="task" asp-action="comment"
                        type="submit" form="add-comment-form" class="btn btn-primary">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        document.body.addEventListener('htmx:afterRequest', function (e) {
            if (e.target.id == 'update-task-content' || e.target.id == 'add-comment') {
                try {
                    let responce = JSON.parse(e.detail.xhr.response);
                    let value = responce.redirectUrl;
                    if (value) {
                        window.location.href = value;
                    }
                } catch {
                    console.log("Responce is not json");
                }
            }
        });
    </script>
}

